# Python cache
__pycache__/
*.py[cod]

# Environment files
.env
*.env
*.venv
venv/
env/
ENV/
envs/

# MacOS
.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Large model files (optional)
*.pt
*.pth

# IDE config
.vscode/
.idea/

en-id.txt/